include README.md
include docs/*.txt
include vaxtools/bin/*
include vaxtools/scPCR/*
include vaxtools/scPCR/indexes/*
include vaxtools/utils/*
include vaxtools/hiv/*
include vaxtools/hiv/env_sequences/*
include vaxtools/mutation_simulation/*
